<div class="navbar-logo">
  <!-- <img src="../../../assets/images/signsage-logo.png" alt="SignSage Logo" /> -->
  <span>SignSage</span>
</div>
<nav>
  <div class="nav-item" routerLink="/dashboard">Dashboard</div>
  <div class="nav-item" routerLink="/auth">Auth</div>
  <div class="nav-item" routerLink="/documents">Documents</div>
  <div class="nav-item" routerLink="/templates">Templates</div>
  <div class="nav-item" routerLink="/renewals">Renewals</div>
  <div class="nav-item" routerLink="/admin">Admin</div>
  <div class="nav-item" routerLink="/customer-portal">Customer Portal</div>
</nav>
